:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-animations: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animstions: 250ms;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --color-text-cards: #212121;
  --color-line: #ffffff;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --hero-btn-color: #188ce8;
  --footer-bg-color: #2f303a;
  --color-card-studio: #f5f4fa;
  --icons-color: #afb1b8;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7*/
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--color-text-cards);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.model-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover, .model-btn:focus {
  color: var(--accent-color);
}

.social-networks:not(:last-child) {
  margin-right: 10px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.connections-footer {
  margin-left: 70px;
}

.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.social-list-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba 255, 255, 255, 0.1;
  color: var(--color-line);
  transition: background-color var(--time-animstions) var(--main-animations);
}

.social-list-footer-icons:hover, .social-list-footer-icons:focus {
  background-color: var(--accent-color);
}

.color-icons-footer {
  fill: currentColor;
}

.icon-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  min-width: 200px;
  line-height: 1.8;
  margin-left: 12px;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  letter-spacing: 0.06em;
  color: var(--color-line);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--time-animstions) var(--main-animations);
}

.footer-form-btn:hover, .footer-form-btn:focus {
  background-color: var(--hero-btn-color);
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.but-port:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  border-radius: 4px;
}

.but {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--color-text-cards);
  border: none;
  transition: background-color var(--time-animstions) var(--main-animations);
}

.but:hover, .but:focus {
  color: var(--color-line);
  background: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form-check-desc {
  display: flex;
  font-size: 12px;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-form-check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid var(--logo-color);
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url("../images/svg-html/svg-modal-btn/icon_check.svg");
  background-color: var(--accent-color);
  background-position: center;
  border-radius: 2px;
  border-color: var(--accent-color);
}

.modal-form-term:focus + .modal-form-check-desc::before {
  box-shadow: 0 0 0 2px var(--footer-bg-color);
}

.modal-check-icon {
  width: 16px;
  height: 16px;
}

.modal-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-line);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 200px;
  height: 50px;
  color: var(--color-line);
  background-color: var(--accent-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: var(--hero-btn-color);
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__studio-color {
  color: var(--logo-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
}

.header__nav-list .nav-list__nav-link.current {
  color: var(--accent-color);
}

.nav-list__nav-list-item {
  display: flex;
  align-items: center;
}

.nav-list__nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text-cards);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__nav-link:hover, .nav-list__nav-link:focus {
  color: var(--accent-color);
}

.nav-list__nav-link.current::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  margin-top: 28px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.mail {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.tel {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}

.tel-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tel-link:hover, .tel-link:focus {
  color: var(--accent-color);
}

.background-color {
  background: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
  width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/png-html/heroes-html/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.heroes__hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-line);
  width: 696px;
  margin: 0 auto;
}

.hero-btn {
  background: var(--hero-btn-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: var(--color-line);
  padding: 10px 32px;
  margin-top: 30px;
  border-radius: 4px;
  transition: background-color var(--time-animstions) var(--main-animations);
  cursor: pointer;
}

.hero-btn:hover, .hero-btn:focus {
  background: var(--accent-color);
}

.advantages {
  display: flex;
  flex-wrap: wrap;
}

.superiority {
  padding-top: 94px;
  padding-bottom: 47px;
}

.advantages__advantages-list {
  width: 270px;
}

.advantages__advantages-list:not(:last-child) {
  margin-right: 30px;
}

.advantages__advantages-list {
  flex-basis: calc(100% / 4 - 30px);
}

.advantages__pictures-advantages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--color-card-studio);
  border-radius: 4px;
  margin-bottom: 30px;
}

.pic {
  width: 70px;
  height: 70px;
}

.attachment-list {
  position: relative;
}

.attachment {
  font-family: var(--main-font);
  font-weight: 700;
  width: 370px;
  height: 70px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__advantages-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text-cards);
  margin-bottom: 10px;
}

.advantages__advantages-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.img-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-cards);
  margin-bottom: 50px;
}

.heading-list {
  padding-top: 47px;
  padding-bottom: 94px;
}

.img {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.pictures {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.cards {
  background-color: var(--color-card-studio);
  padding-top: 94px;
  padding-bottom: 94px;
}

.cards-comands {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.cards-list {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  /* border: 1px solid #ececec; */
}

.card-name-comand {
  text-align: center;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  color: var(--color-line);
  background: var(--color-line);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.name-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--color-text-cards);
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

.client {
  margin-top: 94px;
  /* background-color: tomato; */
}

.clients-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  /* background-color: teal; */
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  transition: border var(--time-animstions) var(--main-animations);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}

.clients-icon-logo {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
}

.clients-icon-logo:focus, .clients-icon-logo:hover {
  fill: var(--accent-color);
}

.clients-icon-logo {
  transition: fill var(--time-animstions) var(--main-animations);
}

.clients-item:hover .clients-icon-logo,
.clients-item:focus .clients-icon-logo {
  fill: var(--accent-color);
}

.clients-item:hover, .clients-item:focus {
  border: 1px solid var(--accent-color);
}

.fon {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-address {
  font-style: normal;
}

.footer-list {
  margin-top: 20px;
}

.logo-footer {
  margin-right: 0px;
}

.studio-color-wite {
  color: var(--color-line);
}

.footer-nav-contact:not(:last-child) {
  margin-bottom: 9px;
}

.nav-footer {
  margin-top: 20px;
}

.map-color-white {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-line);
  margin-bottom: 9px;
}

.contact-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 60px;
}

.connections {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-line);
}

.input-footer {
  width: 570px;
  margin-left: auto;
}

.mailing {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-line);
  margin-bottom: 20px;
}

.win-input {
  width: 358px;
  height: 50px;
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 12px;
  color: var(--color-line);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.514);
  transition: var(--time-animstions) var(--main-animations);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 580px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--main-animations);
  padding: 40px;
}

.modal-close-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.close {
  width: 18px;
  height: 18px;
}

.portfolio-header {
  border: 1px solid #ececec;
}

.portfolio-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  margin-bottom: 94px;
  box-sizing: border-box;
}

.portfolio-item {
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-cards);
  padding-left: 24px;
  padding-top: 20px;
}

.specification {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  width: 320px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.team-list-content-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--color-line);
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-wrapper:hover .overlay,
.team-list-wrapper:focus .overlay {
  transform: translateY(0%);
}

.circuit {
  border: 1px solid #ececec;
}

.social-icons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-line);
  color: #afb1b8;
  transition: background-color var(--time-animstions) var(--main-animations);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--color-line);
}

.social-list-icon {
  fill: currentColor;
}

.social-list-icon {
  transition: fill var(--time-animstions) var(--main-animations);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-name-win {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-cards);
  margin: 0 auto;
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form-imput-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  margin-bottom: 10px;
  transition: var(--time-animstions) var(--main-animations);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-imput-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-input-icons {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  top: 50%;
  left: 12px;
  transition: var(--time-animstions) var(--main-animations);
}

.modal-form-input:focus + .modal-input-icons {
  fill: var(--accent-color);
}

.modal-user-masage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: var(--time-animstions) var(--main-animations);
}

.modal-user-masage::placeholder {
  color: rgba(117, 117, 117, 0.5);
  text-transform: uppercase;
}

.modal-user-masage::placeholder:focus {
  outline: none;
  border-color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */