.client {
  margin-top: 94px;
  /* background-color: tomato; */
}

.clients-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  /* background-color: teal; */
}
.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icons-color);
  width: 170px;
  height: 92px;
  border-radius: 4px;
  transition: border var(--time-animstions) var(--main-animations);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.clients-icon-logo {
  width: 106px;
  height: 60px;
  fill: var(--icons-color);
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.clients-icon-logo {
  transition: fill var(--time-animstions) var(--main-animations);
  .clients-item:hover &,
  .clients-item:focus & {
    fill: var(--accent-color);
  }
}

.clients-item {
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
