.footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.bg-address {
  font-style: normal;
}
.footer-list {
  margin-top: 20px;
}
.logo-footer {
  margin-right: 0px;
}
.studio-color-wite {
  color: var(--color-line);
}
.footer__link:not(:last-child) {
  margin-bottom: 9px;
}
.nav-footer {
  margin-top: 20px;
}
