.social-icons-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--color-line);
  color: #afb1b8;
  transition: background-color var(--time-animstions) var(--main-animations);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list-icon {
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--color-line);
  }
}

.social-list-icon {
  fill: currentColor;
}
.social-list-icon {
  transition: fill var(--time-animstions) var(--main-animations);
}
