:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-animations: cubic-bezier(0.4, 0, 0.2, 1);
  --time-animstions: 250ms;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --color-text-cards: #212121;
  --color-line: #ffffff;
  --logo-color: #000000;
  --hero-bg-color: #2f303a;
  --hero-btn-color: #188ce8;
  --footer-bg-color: #2f303a;
  --color-card-studio: #f5f4fa;
  --icons-color: #afb1b8;
}
